<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 启动自动扫描该包下所有的Bean(例如@Controller) -->
	<context:component-scan base-package="com.rescam.sywm.server.controller" />

	<!-- 注解驱动 -->
	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<!-- 用于处理Hibernate实体类转JSON，尤其是懒加载属性，并扩展了日期格式转换 -->
					<bean id="hibernateAwareObjectMapper"
						class="com.rescam.common.server.util.HibernateAwareObjectMapper" />
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="formatters">
			<set>
				<bean class=" com.rescam.common.server.util.SpringDateFormatter" />
			</set>
		</property>
	</bean>

	<!-- JSON视图 -->
	<mvc:view-resolvers>
		<mvc:content-negotiation>
			<mvc:default-views>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</mvc:default-views>
		</mvc:content-negotiation>
		<mvc:jsp />
	</mvc:view-resolvers>
</beans>